@import "../../common/colors.scss";

.search-bar {
  width: 489px;
  height: 40px;
  left: 16px;
  top: 48px;
  display: flex;
  justify-content: flex-start;

  form {
    display: flex;
    width: 489px;
    height: 40px;
    left: 16px;
    top: 48px;
    justify-content: center;
    width: 70%;
    button {
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
      border-radius: 32px;
    }
  }

  input {
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;
  }
}
